body{
    background-color: blanchedalmond;
}
h2{
    color:  #001432;
}
#A1:hover{
    background-color: rgb(255, 0, 0);
}
#A2:hover{
    background-color: rgb(53, 194, 48);
}
#A3:hover{
    background-color: blue;
}
#A4:hover{
    background-color: blueviolet;
}
button{
    background-color: cadetblue;
}